{% extends "base.html" %}
{% block title %}Sobre mí{% endblock %}
{% block content %}
<h2 class="mb-4">Sobre mí</h2>

<p>Soy una persona de 30 años, honesta, proactiva y con una capacidad constante de adaptación y aprendizaje. Me apasiona mantenerme en constante crecimiento, tanto personal como profesionalmente. Personalmente, considero que la alimentación saludable y el deporte son fundamentales en mi vida diaria. Practico CrossFit de manera diaria, lo cual no solo me ayuda a mantenerme físicamente en forma, sino que también me permite gestionar mejor mi mente, enfrentando los retos con claridad y energía.

  Además, tengo un perro que es mi inseparable compañero y me acompaña en todas mis aventuras, aportando siempre un toque de alegría y compañía en mi vida diaria.</p>

  <div class="mt-4 text-center">
    <img src="{{ url_for('static', filename='img/Dante.jpg') }}" alt="Mi perro Dante" style="max-width: 400px;">
    <p class="mt-2">Mi inseparable compañero Dante</p>
  </div>

{% endblock %}
