<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Blog personal{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="container py-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class="h4">Alberto Jesús García-Márquez Varela</h1>
                <nav class="mt-2">
                    <a href="/">{{menu.label_home}}</a> |
                    <a href="/experience">{{menu.label_experience}}</a> |
                    <a href="/projects">{{menu.label_projects}}</a> |
                    <a href="/education">{{menu.label_education}}</a> |
                    <a href="/about">{{menu.label_about}}</a> |
                </nav>
            </div>
            <div class="language-switcher">
                <a href="{{ url_for('set_lang', lang='es') }}" title="Español">
                    <img src="https://flagcdn.com/w20/es.png" alt="Español">
                </a>
                <a href="{{ url_for('set_lang', lang='en') }}" title="English" class="ms-2">
                    <img src="https://flagcdn.com/w20/gb.png" alt="English">
                </a>
            </div>            
        </div>
        <hr>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
