{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h2>Bienvenido a mi blog profesional</h2>
<p>🧭 Gracias por visitar mi espacio profesional.
    Aquí podrás conocer no solo mi trayectoria como desarrollador, sino también los proyectos que más me han retado y hecho crecer. Si estás buscando a alguien comprometido, adaptable y con ganas de aportar desde el primer día, te invito a explorar este blog. Estoy abierto a nuevas oportunidades y encantado de conectar con equipos que compartan mi pasión por la tecnología y el impacto real.</p>
{% endblock %}
