{% extends "base.html" %}
{% block title %}Proyectos{% endblock %}
{% block content %}
<h2 class="mb-4">Proyectos Destacados</h2>

    {% for proyecto in projects %}
    <div class="projects">
        <h3>{{ proyecto.titulo }}</h3>
        <p><strong>Rol:</strong> {{ proyecto.rol }}</p>
        <p><strong>date:</strong> {{ proyecto.date }}</p>
        <p><strong>Empresa:</strong> {{ proyecto.company }}</p>
        <p><strong>Descripción:</strong> {{ proyecto.description }}</p>
        <p><strong>Tecnologías:</strong> {{ proyecto.technologies }}</p>
    </div>
    {% endfor %}

{% endblock %}