{% extends "base.html" %}
{% block title %}{{ labels.projects_title }}{% endblock %}
{% block content %}
<h2 class="mb-4">{{ labels.projects_title }}</h2>

{% for proyecto in projects %}
<div class="card mb-4">
    <div class="card-body">
        <h3 class="card-title">{{ proyecto.title }}</h3>
        <p class="card-text"><strong>{{ labels.label_rol }}:</strong> {{ proyecto.rol }}</p>
        <p class="card-text"><strong>{{ labels.label_date }}:</strong> {{ proyecto.date }}</p>
        <p class="card-text"><strong>{{ labels.label_company }}:</strong> {{ proyecto.company }}</p>
        <p class="card-text"><strong>{{ labels.label_description }}:</strong> {{ proyecto.description }}</p>
        <p class="card-text"><strong>{{ labels.label_technologies }}:</strong> {{ proyecto.technologies | join(', ') }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}
